@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Lato:wght@400;700&family=Lexend+Peta:wght@100&family=Montserrat:wght@400;700&family=Nunito:wght@400;700&display=swap');

body {
  color: black;
  font-family: "Nunito", sans-serif;
  background: rgb(255, 252, 235);
}